{{ define "main" }}


<!-- Top Segment -->

<section class="welcome-blurb">
  <h2>👋 Hi! I'm Ben.</h2>
  <p> 
    I make software in Durham, North Carolina. 
    This is my site where I write about engineering leadership and productive product teams. 
    If you're interested seeing more, feel free to <a href="/subscribe">subscribe</a>.  First time on the site? <a href="/start-here">Start here</a>.
  </p>
</section>


<hr class="home-divider">
<h2>Articles</h2>

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}
{{ $articles := where (where site.RegularPages "Type" "post") "Title" "!=" "" | first 10}}

<!-- Articles -->
{{ $paginator := .Paginate $articles }} 
{{ range $index, $page := $paginator.Pages }}
  <p class="archive-entry">
    <a href="{{ .Permalink }}" class="u-url"> 
      <span class="p-name"><b>{{ .Title }}</b></span> 
    </a>:
    <span class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
      {{ .Date.Format "2006-01-02" }}
    </span>
  </p>
 
{{ end }}

<hr class="home-divider">
<h2>Microblog</h2>

<!-- $pages -->
{{ $cats := slice "microblog" }}
{{ $microblogs := (where (where site.RegularPages "Type" "post") ".Params.categories" "intersect" $cats) | first 10}}

<!-- Articles -->
{{ $paginator2 := .Paginate $microblogs }} 
{{ range $index, $page := $paginator2.Pages }}
  <article class="post-entry-content">
    <time><a href="{{ .Permalink }}">{{ .Date | time.Format ":date_medium" }} ⌘</a></time>
    <section class="post-content">{{ .Content }}</section>
  </article>
 
{{ end }}


{{ end }}
