{{ define "main" }}


<!-- Top Segment -->

<section class="welcome-blurb">
  <h2>👋 Hi! I'm Ben.</h2>
  <p>
    I make software in Pittsburgh, PA.
    This is my site where I write about work and life.  Work content focuses on engineering leadership and productive product teams, life is a mix of fitness, sports and faith.
    If you're interested seeing more, feel free to <a href="/subscribe">subscribe</a>.  First time on the site? <a href="/start-here">Start here</a>.
  </p>
</section>

<hr class="home-divider">

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}
{{ $posts := where site.RegularPages "Type" "post" }}
{{ $with_title := where $posts "Title" "!=" "" }}
{{ $allworkarticles := where $with_title "Params.categories" "intersect" (slice "Work") }}
{{ $workarticles := $allworkarticles | first 10 }}

{{ $lifearticles := collections.Complement $allworkarticles $posts | first 10 }}


<h2>Work</h2>

<!-- Articles -->
{{ range $index, $page := $workarticles}}
  <p class="archive-entry">
    <a href="{{ .Permalink }}" class="u-url">
      <span class="p-name"><b>{{ .Title }}</b></span>
    </a>
    <span class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
      {{ .Date.Format "2006-01-02" }}
    </span>
  </p>

{{ end }}

<h2>Life</h2>

<!-- Articles -->
{{ range $index, $page := $lifearticles}}
  <p class="archive-entry">
    <a href="{{ .Permalink }}" class="u-url">
      <span class="p-name"><b>{{ .Title }}</b></span>
    </a>
    <span class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
      {{ .Date.Format "2006-01-02" }}
    </span>
  </p>

{{ end }}

<hr class="home-divider">
<h2 class="microblog-top">Microblog</h2>

<!-- $pages -->
{{ $cats := slice "microblog" }}
{{ $microblogs := (where (where site.RegularPages "Type" "post") "Params.categories" "intersect" $cats) | first 10}}

<!-- Articles -->
{{ range $index, $page := $microblogs }}
  <article class="post-entry-content bordered-post">
    <time><a href="{{ .Permalink }}">{{ .Date | time.Format ":date_medium" }} ⌘</a></time>
    <section class="post-content">{{ .Content }}</section>
  </article>

{{ end }}


{{ end }}
