/* Place custom css here. */

twitterwidget {
    margin-left: auto;
    margin-right: auto;
  }
  
  .twitter-tweet {
    margin-left: auto;
    margin-right: auto;
  }

.post-content img {
    margin-inline: 60px;
}

.home-divider {
    margin: 30px 0;
}

.welcome-blurb p {
    margin-bottom: 10px;
}

.welcome-blurb h2 {
    font-size: 2em;
}

.archive-title {
    font-size:1.5em;
}