/* Place custom css here. */

twitterwidget {
    margin-left: auto;
    margin-right: auto;
  }
  
  .twitter-tweet {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }

.post-content img {
    margin-inline: inherit !important;
}

.home-divider {
    margin: 30px 0;
}

.microblog-top {
    margin-bottom: 3rem;
}

.welcome-blurb p {
    margin-bottom: 10px;
}

.welcome-blurb h2 {
    font-size: 1.5em;
}

.archive-title {
    font-size:1.5em;
    margin-bottom:1em;
}

.post-entry-content.bordered-post {
    display: block;
    padding: 2rem;
    border: 1px solid #f1684e;
    border-bottom: 0;
}

.post-entry-content.bordered-post:last-child {
    border-bottom: 1px solid #f1684e;
}


.archive-entry {
    display: flex;
    justify-content: space-between;
}

.archive-entry .dt-published {
    font-family:'Courier New', Courier, monospace;
}

.archive-entry > a {
    border-bottom: none;
}